
body {
    font-family:Times New Roman;
    text-align: center;
    background-color: #32a92e;
    padding:  50px;
    margin: 0px;
    color: rgb(95, 229, 151);
    padding: 20;
}

h1 {
    color: #182902;
}

button {
    padding: 15px 25px;
    margin: 10px;
    font-size: 38px;
    cursor: pointer;
    color: rgb(24, 7, 7);
    background-color: rgb(242, 6, 6);
    border: 4px solid rgb(186, 24, 24);
    border-radius: 10px;
    box-shadow: inset 0 0 0 10px rgb(131, 193, 131);
.button {
    transition: transform 0.2s;
}
}

button:hover {
    transform: scale(1.05);
}

#confetti {
    position: fixed;
    pointer-events: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 9999;
}

.confetto {
    position: absolute;
    top: -20px;
    width: 10px;
    height: 10px;
    opacity: 0;
    border-radius: 2px;
    animation: caerConfetti 4s ease-out forwards;
}

@keyframes caerConfetti {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
    }
    100% {
        transform: translateY(110vh) rotate(720deg);
        opacity: 0;
    }
}

#resultado {
    margin-top: 30px;
    color: #0056b3;
}

.marcador {
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
}

